<!-- header -->
{{> header }}    
{{> sidebar }}
<div id="principal">

    {{#if entry }}

        <h1>Editar entrada</h1>
        <p>
            Edita tu entrada: <b>{{ entry.titulo }}</b>
        </p><br />

        {{#if update}}
            <div class="alerta alerta-exito">La entrada se actualizó con exito</div>
        {{/if}}


        {{#if errorsEntries }}
            {{#if errorsEntries.general }}
                <div class="alerta alerta-error">{{ errorsEntries.general }}</div>
            {{/if}}
        {{/if}}

        <form action="/update-entries?id={{ entry.id }}" method="POST">
            
            <label for="titulo">Titulo:</label>
            <input type="text" value="{{ entry.titulo }}" name="titulo" id="titulo" required maxlength="25" pattern="^[\w\s]{1,25}$" />
            {{#if errorsEntries }}
                {{#if errorsEntries.titulo }}
                    <div class="alerta alerta-error">{{ errorsEntries.titulo }}</div>
                {{/if}}
            {{/if}}

            <label for="descripcion">Descripcion:</label>
            <textarea name="descripcion" id="descipcion" required maxlength="1000">{{ entry.descripcion }}</textarea>
            {{#if errorsEntries }}
                {{#if errorsEntries.descripcion }}
                    <div class="alerta alerta-error">{{ errorsEntries.descripcion }}</div>
                {{/if}}
            {{/if}}

            <label for="categoria">Categoria</label>
            
            <!-- select categories -->
            {{#select-category}}{{/select-category}}
            {{#if errorsEntries }}
                {{#if errorsEntries.categoria }}
                    <div class="alerta alerta-error">{{ errorsEntries.categoria }}</div>
                {{/if}}
            {{/if}}

            <input type="submit" value="Guardar" disabled />
        </form>
        <!-- entry-validator -->
        <script src="js/entry-validator.js"></script>
    {{/if }}
</div>
{{> footer }}