<!-- header -->
{{> header }}    
{{> sidebar }}

    <!-- Caja principal -->
    <div id="principal">
        <h1>Ultimas entradas</h1>

        {{#if lastEntries}}
            {{#each lastEntries as | entry |}}
                <article class="entrada">
                    <a href="">
                        <h2>{{ entry.titulo }}</h2>
                        <span class="fecha">{{ entry.categoria }} | {{ entry.fecha }}</span>
                        <p>{{ entry.descripcion }}</p>
                    </a>
                </article>
            {{/each}}
        
        {{else }}
            <article class="entrada">
                <p style="text-align: center;">No hay entradas disponibles</p>    
            </article>

        {{/if}}
        
        <div id="ver-todas">
            <a href="">Ver Todas las Entradas</a>
        </div>
    </div>
        
{{> footer }}