<%- include('partials/header', { categories }) %>
<%- include('partials/sidebar', { login, errorsLogin, register, errorsRegister })  %> 
<div id="principal">
    <h1>Mis datos</h1>
    <% if (update) { %>
        <div class="alerta alerta-exito">Actualizacion de usuario completada</div>
    <% } %>
    
    <% if (errorsProfile && errorsProfile.general) { %>
        <div class="alerta alerta-error"><%= errorsProfile.general %></div>
    <% } %>

    <form action="/update-profile" method="POST">

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" value="<%= profile.nombre %>" />
        <% if (errorsProfile && errorsProfile.name) { %>
            <div class="alerta alerta-error"><%= errorsProfile.name %></div>
        <% } %>

        <label for="surname">Apellidos</label>
        <input type="text" name="surname" id="surname" value="<%= profile.apellidos %>" />
        <% if (errorsProfile && errorsProfile.surname) { %>
            <div class="alerta alerta-error"><%= errorsProfile.surname %></div>
        <% } %>

        <label for="email-register">Email</label>
        <input type="email" name="email" id="email-register" value="<%= profile.email %>" />
        <% if (errorsProfile && errorsProfile.email) { %>
            <div class="alerta alerta-error"><%= errorsProfile.email %></div>
        <% } %>

        <label for="password-register">Password</label>
        <input type="password" name="password" id="password-register" />
        <% if (errorsProfile && errorsProfile.password) { %>
            <div class="alerta alerta-error"><%= errorsProfile.password %></div>
        <% } %>

        <input type="submit" value="Actualizar" />
    </form>
    <!-- <script src="js/profile-validator.js"></script> -->
</div>
<%- include('partials/footer', { year }) %>