<%- include('partials/header', { categories }) %>
<%- include('partials/sidebar', { login, errorsLogin, register, errorsRegister })  %> 
<div id="principal">
    <h1>Mis datos</h1>
    <% if (register) { %>
        <div class="alerta alerta-exito">Actualizacion de usuario completada</div>
    <% } %>
    
    <% if (errorsProfile && errorsProfile.general) { %>
        <div class="alerta alerta-error"><%= errorsProfile.general %></div>
    <% } %>

    <p class="alerta" style="background-color: black;">
        El usuario actualizado con éxito tiene que volver a authenticarse,
        para volver a registrar la session.
    </p>

    <form action="/update-profile" method="POST">

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required maxlength="25" pattern="^[A-Za-z]{1,25}$" />
        <% if (errorsProfile && errorsProfile.name) { %>
            <div class="alerta alerta-error"><%= errorsProfile.name %></div>
        <% } %>

        <label for="surname">Apellidos</label>
        <input type="text" name="surname" id="surname" required maxlength="25" pattern="^[A-Za-z]{1,25}$" />
        <% if (errorsProfile && errorsProfile.surname) { %>
            <div class="alerta alerta-error"><%= errorsProfile.surname %></div>
        <% } %>

        <label for="email-register">Email</label>
        <input type="email" name="email" id="email-register" required />
        <% if (errorsProfile && errorsProfile.email) { %>
            <div class="alerta alerta-error"><%= errorsProfile.email %></div>
        <% } %>

        <label for="password-register">Password</label>
        <input type="password" name="password" id="password-register" minlength="8" required />
        <% if (errorsProfile && errorsProfile.password) { %>
            <div class="alerta alerta-error"><%= errorsProfile.password %></div>
        <% } %>

        <input type="submit" value="Actualizar" disabled />
    </form>
    <script src="js/profile-validator.js"></script>
</div>
<%- include('partials/footer', { year }) %>